<div ng-controller="AuthCtrl">
<div ng-controller="NavCtrl">

<div ng-include="'partials/nav.html'"></div>




<div id="content--crowdfunding">


<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<!-- Focus Discusstion -->
<div id="focus-discussion" ng-class="{'show':focusDiscussion}">
  
  <div class="q_content_nav md-whiteframe-z1" ng-class="{'show':focusDiscussion, 'hide':!focusDiscussion}">
      <div class="nav_left_toggle" ng-click="toggleDiscussion(focusDiscussion.id)"><i class="fa fa-chevron-left"></i></div>

      <div class="order_control">
          <!--<a class="button--wide" ng-class="{'inactive':recommendFilter===1}" ng-click="setRecommendFilter(0)"><i class="fa fa-thumbs-o-up"></i> 所有</a>
          <a class="button--wide" ng-class="{'inactive':recommendFilter===0}" ng-click="setRecommendFilter(1)"><i class="fa fa-clock-o"></i> 推薦</a>-->
      </div>

      <div class="nav_right_toggle">
        <i class="fa fa-ellipsis-v"></i>
      </div>
       
  </div>
  
  <div class="q_content" ng-class="{'q_content_reply':showReplyItem}">
    <div class="wrapper">
    <div class="q_breadcrumbs">主題 &gt; 群眾募資</div>
    <div class="q_title">{{currentQ.title}}</div>
    <div class="focusDiscussion_title"><span class="prompt">討論話題：</span>{{focusDiscussion.title}} <i class="fa fa-comments-o"></i><span class="issue_item_discuss_count">{{currentTopicPostCount}}</sapn></div>
    <!-- <p class="q_text" ng-repeat="p in focusDiscussion.content">{{p}}</p> -->

    <!-- (discourse posts) -->
   

    <div ng-repeat="p in posts" ng-show="$index===0 || $last || isExpand()"><!--  | filter:recommendFilterFunction-->
    <!--ng-show="$index===0 || $last || isExpand()" -->
      <div class="post_item md-whiteframe-z1" ng-class="{'post_item_last':$last && ((posts).length) > 3 && !expand}">

        <img class="post_item_img" ng-src="{{p.avatar_url}}">
        <div class="post_item_info">
          <div class="post_item_author" >{{p.username}}</div>
          <div class="post_item_recommend" ng-if="p.recommend >= 1"><i class="fa fa-heart-o"></i></div>
          <div class="post_item_date" >{{p.created_at | date }}</div>
          <div class="post_item_text" ng-bind-html="toTrusted(p.cooked)"></div>  
        </div>
        
        <!-- expand -->
        <div class="post_item_intermediate" ng-if="$index===0 && ((posts).length) > 3" ng-click="toggleExpand()" ng-show="!isExpand()">
        <!--ng-if="$index===0 && ((posts | filter:recommendFilterFunction).length) > 3" -->
          <div class="post_item_intermediate_circle">{{(posts).length-2}}</div>
        </div> 
        
      </div>
      
    </div>
    <a href="https://talk.vtaiwan.tw/t/topic/{{currentTopicID}}" target="new"><div class="toggle_reply_button" ng-show="focusDiscussion"><i class="fa fa-reply"></i></div></a>
   

    
    <!-- Reply to posts / Comment -->
    <!--
    <div class="post_reply_item" ng-class="{'show':showReplyItem}">
        <div class="post_reply_item_title">回覆至 <b>{{focusDiscussion.title}}</b>：</div>
        <div class="post_reply_item_minimize" ng-click="toggleReplyItem()"><i class="fa fa-chevron-down"></i></div>
        <div class="post_reply_item_textarea">
            <textarea readonly>
目前因議題文字調整中，我們本周會將 vTaiwan.tw 主站連上實際的討論區。
您可按底下的「回覆」鈕連到測試站，進行先期討論。
</textarea>
        </div>
        
        <div class="post_reply_item_control">
            <div class="post_reply_item_control_button">
            <a class="button" target="_blank" href="https://talk.vtaiwan.tw/c/6-category"><i class="fa fa-reply"></i> 回覆</a> <a class="cancel" ng-click="toggleReplyItem()">取消</a>
            </div>
        </div>

    </div>
    -->
    


    </div>
  </div>  
</div>
<!-- ................ -->


  <div class="wrapper">
  <!-- Question -->  
  <div class="q_content" id="q_content">

  <div ng-repeat="q in questions" ng-show="isQuestionFocused(q.id)">
    <div class="q_breadcrumbs">主題 &gt; 群眾募資</div>
    <div class="q_title" >{{q.title}}</div>
    <div ng-bind-html="toTrusted(q.content)"></div>
  
    <div class="issue_item md-whiteframe-z1" ng-repeat="i in q.children" ng-click="toggleDiscussion(i)" >
        <div class="issue_item_title"><span class="prompt">討論話題：</span>{{i.title}} <i class="fa fa-comments-o"></i><span class="issue_item_discuss_count">{{q.count}}</sapn></div>

       
        <div class="q_text" ng-bind-html="toTrusted(i.content)"></div>
        <ul>
          <li ng-repeat="l in i.options">{{l}}</li>
        </ul>
    </div>
  </div>
  </div>
  <!-- LEFT & RIGHT NAV -->
  <div ng-show="currentQ.preid" class="navigation navigation--pre" ng-click="toggleQuestion(currentQ.preid)"><i class="fa fa-chevron-left"></i></div>
  <div ng-show="currentQ.nextid" class="navigation navigation--next" ng-click="toggleQuestion(currentQ.nextid)"><i class="fa fa-chevron-right"></i></div>


  </div><!-- wrapper -->
  
  <!-- . . . . . . . . . . . . -->
</div><!-- content -->
</div><!-- Nav -->
</div><!-- Auth -->
