<!-- Focus Discusstion -->
<div id="focus-discussion" ng-class="{'show':focusDiscussion}">

  <div class="q_content_nav md-whiteframe-z1" ng-class="{'show':focusDiscussion, 'hide':!focusDiscussion}">
      <div class="nav_left_toggle" ng-click="toggleDiscussion(currentDiscussion.index)"><i class="fa fa-chevron-left"></i></div>

      <div class="order_control">
          <!--<a class="button--wide" ng-class="{'inactive':recommendFilter===1}" ng-click="setRecommendFilter(0)"><i class="fa fa-thumbs-o-up"></i> 所有</a>
          <a class="button--wide" ng-class="{'inactive':recommendFilter===0}" ng-click="setRecommendFilter(1)"><i class="fa fa-clock-o"></i> 推薦</a>-->
      </div>

      <div class="nav_right_toggle">
        <i class="fa fa-ellipsis-v"></i>
      </div>

  </div>

  <div class="q_content" ng-class="{'q_content_reply':showReplyItem}">
    <div class="wrapper">
    <div class="q_breadcrumbs"><sapn class="q_breadcrumbs_link" ng-click="go('proposals', true)">主題</sapn> &gt; <sapn class="q_breadcrumbs_link" ng-click="go(currentProposal.title_eng, true)">{{currentProposal.title_cht}}</sapn></div>
    <div class="q_title">{{currentCategory.title}}</div>
    <div class="focusDiscussion_title"><span class="prompt">討論話題：</span>{{currentDiscussion.title}} <i class="fa fa-comments-o"></i><span class="issue_item_discuss_count">{{currentDiscussion.post_count}}</sapn></div>
    <!-- <p class="q_text" ng-repeat="p in focusDiscussion.content">{{p}}</p> -->

    <!-- (discourse posts) -->


    <div ng-repeat="p in currentDiscussion.posts" ng-show="$index===0 || $last || isExpand()"><!--  | filter:recommendFilterFunction-->
    <!--ng-show="$index===0 || $last || isExpand()" -->
      <div class="post_item md-whiteframe-z1" ng-class="{'post_item_last':$last && ((currentDiscussion.posts).length) > 3 && !expand}">

        <img class="post_item_img" ng-src="{{p.avatar_url}}">
        <div class="post_item_info">
          <div class="post_item_author" >{{p.username}}</div>
          <div class="post_item_recommend" ng-if="p.recommend >= 1"><i class="fa fa-heart-o"></i></div>
          <div class="post_item_date" >{{p.created_at | date }}</div>
          <div class="post_item_text" ng-bind-html="toTrusted(p.cooked)"></div>

          <div class="post_item_action">
              <a ng-click="shareToFacebook()" target="_blank">
                <div class="post_item_action_btn"><i class="fa fa-facebook"></i></div>
              </a>
              <!-- <a ng-href="mailto:?to=&amp;subject={{currentDiscussion.title}}&amp;body=https://vtaiwan.tw/#!/closelyheld/{{focusCategory}}/{{currentDiscussion.id}}" target="_blank">
                <div class="post_item_action_btn"><i class="fa fa-envelope-o"></i></div>
              </a> -->
              <a target="_blank" ng-click="setSharePanel($index)">
                <div class="post_item_action_btn"><i class="fa fa-link"></i></div>
              </a>
              <a ng-click="shareToTwitter()" target="_blank">
                <div class="post_item_action_btn"><i class="fa fa-twitter"></i></div>
              </a>
              <a ng-href="https://talk.vtaiwan.tw/t/topic/{{currentDiscussion.id}}/{{$index + 1}}" target="_blank">
                <div class="post_item_action_btn right"><i class="fa fa-reply"></i></div>
              </a>

          </div>
          <!-- reply link panel -->
          <div class="post_item_share_panel web" ng-show="shouldShowSharePanel($index)">
            <input class="post_item_share_panel-input" value="https://vtaiwan.tw/#!/{{currentProposal.title_eng}}/{{focusCategory}}/{{currentDiscussion.id}}" id="input_{{$index}}" />
            <div class="post_item_share_panel-remove-bottom" ng-click="setSharePanel(false)"><i class="fa fa-times"></i></div>
          </div>

        </div>

        <!-- reply link panel mobile -->
        <div class="post_item_share_panel mobile" ng-show="shouldShowSharePanel($index)">
          <div class="post_item_share_panel-mobile">
              連結到這個討論串：
              <a href="https://vtaiwan.tw/#!/{{currentProposal.title_eng}}/{{focusCategory}}/{{currentDiscussion.id}}" target="_blank">https://vtaiwan.tw/#!/{{currentProposal.title_eng}}/{{focusCategory}}/{{currentDiscussion.id}}</a>
          </div>
          <div class="post_item_share_panel-remove-top" ng-click="setSharePanel(false)"><i class="fa fa-times"></i></div>
        </div>

        <!-- expand -->
        <div class="post_item_intermediate" ng-if="($index === 0) && ((currentDiscussion.posts).length) >= 3" ng-click="toggleExpand()" ng-show="!isExpand()">
        <!--ng-if="$index===0 && ((currentDiscussion.posts | filter:recommendFilterFunction).length) > 3" -->
          <div class="post_item_intermediate_circle">{{(currentDiscussion.posts).length-2}}</div>
        </div>


      </div><!-- end of post_item -->

    </div>

    <a class="mobile-only" href="https://talk.vtaiwan.tw/t/topic/{{currentDiscussion.id}}" target="_blank"><div class="toggle_reply_button" ng-show="focusDiscussion"><i class="fa fa-reply"></i></div></a>

        <div class="l_center">
            <a style="background: #3F9F9B" href="https://talk.vtaiwan.tw/t/topic/{{currentDiscussion.id}}"
                target="_blank" ng-show="focusDiscussion"
                class="about_item_button md-whiteframe-z1">我要留言</a>
      </div>



    <!-- Reply to posts / Comment -->
    <!--
    <div class="post_reply_item" ng-class="{'show':showReplyItem}">
        <div class="post_reply_item_title">回覆至 <b>{{focusDiscussion.title}}</b>：</div>
        <div class="post_reply_item_minimize" ng-click="toggleReplyItem()"><i class="fa fa-chevron-down"></i></div>
        <div class="post_reply_item_textarea">
            <textarea readonly>
目前因議題文字調整中，我們本周會將 vTaiwan.tw 主站連上實際的討論區。
您可按底下的「回覆」鈕連到測試站，進行先期討論。
</textarea>
        </div>

        <div class="post_reply_item_control">
            <div class="post_reply_item_control_button">
            <a class="button" target="_blank" href="https://talk.vtaiwan.tw/c/6-category"><i class="fa fa-reply"></i> 回覆</a> <a class="cancel" ng-click="toggleReplyItem()">取消</a>
            </div>
        </div>

    </div>
    -->



    </div>
  </div>
</div>
<!-- ................ -->
