<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>


<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<div id="content--cover">
    <div class="cover">
        <div class="cover_title_wrap">
          <div class="cover_title">可以不去開曼設公司嗎？{{sidebar}}</div>
          <div class="cover_botton_wrap">
              <div class="cover_botton" ng-click="go('proposals')">參與討論</div>
          </div>

        </div>
        <img class="cover_img" ng-src="images/{{cover}}.jpg">
       
    </div>
    <div class="wrapper">
      <div class="about_paper md-whiteframe-z1">
        <div class="about_item">
            <div class="about_item_title">可以不去開曼設公司嗎？</div>
            <div class="about_item_content">
              <p>台灣許多新創公司都會跑去開曼群島之類的地方設立，為什麼不願意留在台灣呢？</p>
              <p>我們希望能完整討論<b>數位商業法制缺乏彈性</b>的相關問題，進而為每項提案徵集工作小組，為解決這個問題形成法規草案。</p>
              <p>作為公眾參與政策形成與法令訂定過程透明化的一次實驗，我們會分三個階段進行：
              <ul>
                  <li>由行政機關提出問題進行討論，並邀請活躍的參與者組成工作組</li>
                  <li>工作組與行政機關定期聚會，逐條協作出草案版本</li>
                  <li>舉行線上諮詢會議，確認草案成為定案</li>
              </ul>
              </p>
              <p>每個階段為期約一個月，所有過程都會在 <span class="logo">vTaiwan</span> 網站上公開。</p>
            </div>
        </div>
        <div class="l_center">
        <div ng-click="go('about')" class="about_item_button md-whiteframe-z1">了解更多</div>
      </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->

</div><!-- end of auth -->
