<div ng-controller="AuthCtrl">
<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>


<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<div id="content">
    <div class="cover">
        <div class="cover_title_wrap">
          <div class="cover_title">可以不去開曼設公司嗎？{{sidebar}}</div>
          <div class="cover_botton_wrap">
              <div class="cover_botton" ng-click="go('about')">了解更多</div>
              <div class="cover_botton" ng-click="go('topics')">參與討論</div>
          </div>

        </div>
        <img class="cover_img" src="images/{{cover}}.jpg">
       
    </div>
    <div class="wrapper">
      <div class="about_paper md-whiteframe-z1">
        <div class="about_item">
            <div class="about_item_title">可以不去開曼設公司嗎？<br/>— 「vTaiwan 虛擬世界法規調適」計劃</div>
            <div class="about_item_content">
              <p>台灣許多公司都會跑去開曼群島之類的地方設立，為什麼不願意留在台灣呢？經過初步探詢，大家反映是因為目前台灣的《公司法》裡面，股權安排的部分不夠有彈性。</p>

              <p>我們規劃在《公司法》裡面，設立一個新的公司型態——「閉鎖型公司」；同時立法讓股權上的群眾募資可以合法。希望透過這兩項調整，讓網路公司留在台灣。</p>

              <p>「vTaiwan 虛擬世界法規調適」計劃，希望透過網路互動，完整討論目前《公司法》在新創事業規定部分不夠有彈性的問題，進而形成法規草案，以具體的法律制度來解決這個問題。在政策形成的初期，就能夠廣納各方意見。</p>
            </div>

        </div>
        <!--
        <div class="l_center">
        <div class="about_item_button md-whiteframe-z1">參與討論</div>
        </div>
        -->
        
        
      </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->

</div><!-- end of auth -->
