<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>


<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>

<div id="content--cover">
    <div class="cover">
        <div class="cover_title_wrap">
          <div class="cover_title">可以不去開曼設公司嗎？{{sidebar}}</div>
          <div class="cover_botton_wrap">
              <div class="cover_botton" ng-click="go('proposals')">參與討論</div>
          </div>

        </div>
        <img class="cover_img" ng-src="images/{{cover}}.jpg">
       
    </div>
    <div class="wrapper">
      <div class="about_paper md-whiteframe-z1">
        <div class="about_item">
            <div class="about_item_title">可以不去開曼設公司嗎？</div>
            <div class="about_item_content">
              <p>台灣許多新創公司都會跑去開曼群島之類的地方設立，為什麼不願意留在台灣呢？</p>
              <p>我們希望能完整討論<b>數位商業法制缺乏彈性</b>的相關問題，進而為每項提案徵集工作小組，為解決這個問題形成法規草案。</p>
              <p>作為公眾參與政策形成與法令訂定過程透明化的一次實驗，我們會分三個階段進行：</p>

              <div class="Stage">
                <div class="Stage-index">
                  <!-- <div class="Stage-index-number">1</div> -->
                  <img src="images/phase1.jpg" title="第一階段：討論" alt="第一階段：討論">
                </div>
                <div class="Stage-content">
                  <ul>
                  <li><b>廣徵意見，凝聚出「要討論的問題」</b>
                  <ul><li>不是一開始就給法規草案討論，而是「提出問題」來討論。</li><li>例如：很多新創事業想透過群眾募資平台來進行投資，現行制度卻不見能滿足這些新創事業，那會有什麼問題，以及該怎麼規範呢？</li>  </ul>
                  </li>
                  <li><b>產生「工作組」</b>
                  <ul><li>工作組由本階段中「積極參與討論者」與「提案方相關人員」組成，負責在第二階段中，經由聚會討論，寫出建議規格書。</li></ul>
                  </li>
                  </ul>
              </div>
              </div><!-- end of Stage -->

              <div class="Stage">
                <div class="Stage-index">
                  <!-- <div class="Stage-index-number">2</div> -->
                  第二階段：草案
                </div>
                <div class="Stage-content">
                  <ul>
                  <li><b>工作組定期聚會，逐條協作出草案版本</b>
                      <ul>
                      <li>工作組聚會採全程逐字稿及錄影直播方式進行。</li>
                      <li>聚會時，討論者提出修正意見及建議事項規格書。</li>
                      <li>提案方必須於每次聚會七天後，針對建議事項提出回應，並更新草案。</li>
                      </ul>
                  </li>
                  </ul>
              </div>
              </div><!-- end of Stage -->

              <div class="Stage">
                <div class="Stage-index">
                  <!-- <div class="Stage-index-number">3</div> -->
                  第三階段：定案
                </div>
                <div class="Stage-content">
                  <ul>
                  <li><b>收斂成定案</b>
                      <ul>
                          <li>第二階段進行一個月後，提案方決定是否繼續提出多次修正版草案。</li><li>若是，則繼續聚會（第二階段）。若已收斂成定案，則由編輯群作為定案（第三階段）的內容公佈。</li>
                      <li>工作組的討論區持續保留，以追蹤定案送交立法院或頒佈後的執行狀況。</li>
                      </ul>
                  </li>
                  </ul>
              </div>
              </div><!-- end of Stage -->       
              
              <p>每個階段為期約一個月，所有過程都會在 <span class="logo">vTaiwan</span> 網站上公開。</p>
            </div>
        </div>
        <div class="l_center">
        <div ng-click="go('about')" class="about_item_button md-whiteframe-z1">了解更多</div>
      </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->

</div><!-- end of auth -->
