<div class="notification_wrapper">
<div id="notification" class="notification_hide"></div>
</div>

<div id="sidebar-shadow" ng-show="sidebar || showUserMenu" ></div>
<div id="sidebar-container" ng-class="{'show':sidebar, 'hide':!sidebar}" ng-click="showsidebar('toggle')">
  <div class="sidebar-container_left md-whiteframe-z1">
    
    <!--<div id="sidebar-container--top" ng-class="{'show':!topic}" ng-click="showsidebar('toggle')">-->
    <div ng-show="!topic">
      <a class="nav_item_sidebar--left" href="#/" >首頁</a>
      <a class="nav_item_sidebar--left" href="#/topics" >主題</a>
      <a class="nav_item_sidebar--sub"
          ng-click="go('crowdfunding')">群眾募資<span
              ng-show="topicref=='crowdfunding'"
              class="nav_item_sidebar--switchmenu" ng-click="topic='crowdfunding';$event.stopPropagation();"><i class="fa fa-chevron-right"></i></span></a>
      <a class="nav_item_sidebar--sub"
          ng-click="go('closelyheld')">閉鎖型公司<span
              ng-show="topicref=='closelyheld'"
              class="nav_item_sidebar--switchmenu" ng-click="topic='closelyheld';$event.stopPropagation();"><i class="fa fa-chevron-right"></i></span></a>
      <a class="nav_item_sidebar--left" href="#/how"  >如何發言</a>
      <a class="nav_item_sidebar--left" href="#/about" >關於</a>
      <a class="nav_item_sidebar--left" target="_blank" href="https://talk.vtaiwan.tw/c/meta" >聯絡我們</a>
    </div>
    <!--<div id="sidebar-container--down" ng-class="{'show':topic}">-->
    <div ng-show="topic">
      <a class="nav_item_sidebar--bold"
          ng-click="topic=null;$event.stopPropagation();"><i class="fa
              fa-chevron-left"></i> {{currentTopic.title}}</a>
      
      <span ng-repeat="q in currentTopic.questions" ng-click="toggleQuestion(q.id)">
          <a class="nav_item_sidebar--left" >{{q.title}}</a>
          <a class="nav_item_sidebar--sub" ng-repeat="i in q.issues">{{i.title}}</a>
      </span>
    </div>
 
  </div>
</div>

<header class="md-whiteframe-z1 nav_background">

  <div class="nav_left_toggle" ng-click="showsidebar('toggle')"><i class="fa fa-align-justify"></i></div>
  
  <div id="site_logo"><a href="#/">
    <img id="site_logo_img" src="images/logo1.png">
    <div id="site_logo_text">vTaiwan</div></a>
  </div>
  
 
  <div class="nav_right_toggle" ng-hide="true">
      <i class="fa fa-plus"></i>
  </div>


</header>


