<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>
<div id="content">
    <div class="wrapper">
        <div ng-repeat="t in getTopics()" class="Proposal md-whiteframe-z1" ng-click="go(t)">
            <div class="Proposal-mainText">
                <div class="Proposal-header">
                    <div class="Proposal-proposer">
                      <img class="Proposal-proposerImg"
                      ng-src="images/proposer/{{proposalMeta[t].proposer_abbr_eng}}.png"
                      ng-if="isFocusTab(t,'step1')">
                      <img class="Proposal-proposerImg"
                      ng-src="images/proposer/spec.png"
                      ng-if="!isFocusTab(t,'step1')">
                    </div>
                    <div class="Proposal-title">
                    {{proposalMeta[t].proposer_abbr_cht}}：{{proposalMeta[t].title_cht}}
                    <div class="Proposal-proposerName"><tt>@</tt><a target="_blank" ng-href="{{proposalMeta[t].discourse_url}}/users/{{proposalMeta[t].proposer_abbr_eng}}/activity" ng-click="$event.stopPropagation();">{{proposalMeta[t].proposer_abbr_eng}}</a></div>
                    </div>
                </div>
                <div class="Proposal-content">
                   <span ng-bind-html="toTrusted(proposal[t])"></span>
                </div>
            </div>
            <div class="ProgressBar">
                <div class="ProgressBar-stepTitle" ng-click="">
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab(t,'step1');$event.stopPropagation();" ng-class="{'is-active':isFocusTab(t,'step1'),'is-inactive':!isFocusTab(t,'step1')}">討論
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab(t,'step1'),'ProgressBar-triangleRight-inactive':!isFocusTab(t,'step1')}"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab(t,'step2');$event.stopPropagation();" ng-class="{'is-active':isFocusTab(t,'step2'),'is-inactive':!isFocusTab(t,'step2')}">建議
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab(t,'step2'),'ProgressBar-triangleRight-inactive':!isFocusTab(t,'step2')}"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab(t,'step3');$event.stopPropagation();" ng-class="{'is-active':isFocusTab(t,'step3'),'is-inactive':!isFocusTab(t,'step3')}">定案
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab(t,'step3'),'ProgressBar-triangleRight-inactive':!isFocusTab(t,'step3')}"></div>
                    </div>
                </div>
                <!-- step 1 info -->
                <div ng-show="isFocusTab(t,'step1')">
                <!-- ProgressBar -->
                    <div class="ProgressBar-barBackground">
                        <div class="ProgressBar-startDate">{{ proposalMeta[t].step1_start_date | date:'M/d' }}</div>
                        <div class="ProgressBar-endDate">{{ proposalMeta[t].step1_end_date | date:'M/d' }}</div>
                    <div class="ProgressBar-barProgress" style="width:{{proposalMeta[t].percentage}}%;"></div>
                    </div>
                    <div class="ProgressBar-infoContent">
                        <div class="ProgressBar-stat">本階段還有<div class="ProgressBar-statHighlight">{{proposalMeta[t].left_day}} 天</div></div>
                        <div class="ProgressBar-stat" ng-show="proposalMeta[t].TopicCount">討論話題<div class="ProgressBar-statHighlight">{{proposalMeta[t].TopicCount}}</div></div>
                        <div class="ProgressBar-stat" ng-show="proposalMeta[t].PostCount">意見數<div class="ProgressBar-statHighlight">{{proposalMeta[t].PostCount}}</div></div>
                    </div>
                </div>
                <!-- step 2 info -->
                <div ng-show="isFocusTab(t,'step2')">
                <!-- ProgressBar -->
                    <div class="ProgressBar-barBackground" ng-if="!proposalMeta[t].step2_start_date">
                        <div class="ProgressBar-startDate">最快 4/13</div>
                        <div class="ProgressBar-endDate">最快 5/1</div>
                        <div class="ProgressBar-barProgress" style="width:0%;"></div>
                    </div>
                    <div class="ProgressBar-infoTitle" ng-if="!proposalMeta[t].step2_start_date">本階段尚未開始，目前規劃如下：</div>
                    <div class="ProgressBar-infoContent" ng-if="!proposalMeta[t].step2_start_date">
                    <ul>
                        <li>版主群寄出工作組聚會邀請</li>
                        <li>工作組第一次聚會，彙整具體建議</li>
                        <li>提案方決定是否繼續提出多次修正版草案，若是，則繼續工作組聚會</li>
                    </ul>
                    </div>
                    <div class="ProgressBar-barBackground" ng-if="proposalMeta[t].step2_start_date">
                        <div class="ProgressBar-startDate">{{ proposalMeta[t].step2_start_date | date:'M/d' }}</div>
                        <div class="ProgressBar-endDate">{{ proposalMeta[t].step2_end_date | date:'M/d' }}</div>
                        <div class="ProgressBar-barProgress" style="width:{{proposalMeta[t].percentage_2}}%;"></div>
                    </div>
                    <div class="ProgressBar-infoContent" ng-if="proposalMeta[t].step2_start_date">
                        <div class="ProgressBar-stat">本階段還有<div class="ProgressBar-statHighlight">{{proposalMeta[t].left_day_2}} 天</div></div>
                        <div class="ProgressBar-stat" ng-show="proposalMeta[t].TopicCount">討論話題<div class="ProgressBar-statHighlight">{{proposalMeta[t].TopicCount}}</div></div>
                        <div class="ProgressBar-stat" ng-show="proposalMeta[t].PostCount">意見數<div class="ProgressBar-statHighlight">{{proposalMeta[t].PostCount}}</div></div>
                    </div>
                </div>
                <!-- step 3 info -->
                <div ng-show="isFocusTab(t,'step3')">
                    <!-- ProgressBar -->
                    <div class="ProgressBar-barBackground">
                        <div class="ProgressBar-startDate">未定</div>
                        <div class="ProgressBar-endDate">未定</div>
                        <div class="ProgressBar-barProgress" style="width:0%;"></div>
                    </div>
                    <div class="ProgressBar-infoTitle">本階段尚未開始，目前規劃時程如下</div>
                    <div class="ProgressBar-infoContent">
                    <ul>
                        <li>4/1 提案方決定是否繼續提出多次修正版草案，若否，則收斂成定案，進入本階段</li>
                    </ul>
                    </div>
                </div>
            </div><!-- end of ProgressBar -->
        </div>
        <div class="l_center">
            <a class="about_item_button" ng-click="go('tutorial')">使用手冊</a>
        </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->
