<div ng-controller="NavCtrl">
<div ng-include="'partials/nav.html'"></div>

<div id="content--proposal" ng-class="{'limit':focusDiscussion || sidebar}">

<!--
<div class="nav_list_toolbar" ng-class="{'nav_list_toolbar_hide':!showUserMenu}">
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-rss"></i> 訂閱</a>
      <a class="nav_item_sidebar nav_item_sidebar--half" ng-click="showsidebar(false)" ><i class="fa fa-search"></i> 搜尋</a>
</div>
-->

  <div ng-include="'partials/discussion.html'"></div>

  <div class="wrapper" ng-show="!focusDiscussion">
  <!-- Category -->  
  <div class="q_content" id="q_content">

  <div class="q_breadcrumbs" ><sapn class="q_breadcrumbs_link" ng-click="go('proposals', true)">主題</sapn> &gt; <sapn class="q_breadcrumbs_link" ng-click="go(currentProposal.title_eng, true)">{{currentProposal.title_cht}}</sapn></div>
    <div class="q_title">{{currentCategory.title}}</div>
    <div ng-bind-html="toTrusted(currentCategory.content)"></div>
  
    <div class="issue_item md-whiteframe-z1" ng-repeat="i in currentCategory.children" ng-click="toggleDiscussion(i.index)" id="issue_item_{{i.index}}">
        <div class="issue_item_title"><span class="prompt">討論話題：</span>{{i.title}} <i class="fa fa-comments-o"></i><span class="issue_item_discuss_count">{{i.post_count}}</sapn></div>

        <div class="q_text" ng-bind-html="toTrusted(i.content)"></div>
        <ul>
          <li ng-repeat="l in i.options">{{l}}</li>
        </ul>
    </div>
  </div>

  <!-- LEFT & RIGHT NAV -->

  <div ng-show="currentCategory.preid" class="navigation navigation--pre" ng-click="toggleCategory(currentCategory.preid)"><i class="fa fa-chevron-left"></i></div>
  <div ng-show="currentCategory.nextid" class="navigation navigation--next" ng-click="toggleCategory(currentCategory.nextid)"><i class="fa fa-chevron-right"></i></div>

  </div><!-- wrapper -->
        <div class="l_center" ng-hide="currentCategory.preid">
            <a style="white-space: nowrap; font-size: 20px; margin-top: 15px" target="_blank"
                class="about_item_button" href="https://talk.vtaiwan.tw/c/{{
                currentProposal.title_eng }}">展開所有話題</a>
        </div>
  
  <!-- . . . . . . . . . . . . -->
</div><!-- content -->
</div><!-- Nav -->
