<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>
<div id="content">
    <div class="wrapper">
        <div class="Proposal md-whiteframe-z1" ng-click="go('crowdfunding')">
            <div class="Proposal-mainText">
              <div class="Proposal-title">主題：群眾募資</div>
              <div class="Proposal-content">
                <span ng-bind-html="toTrusted(proposal['crowdfunding'])"></span>
              </div>
            </div>
            <div class="ProgressBar">
                
                <div class="ProgressBar-stepTitle" ng-click="">
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab('step1');$event.stopPropagation();" ng-class="{'is-active':isFocusTab('step1'),'is-inactive':!isFocusTab('step1')}">討論
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab('step1'),'ProgressBar-triangleRight-inactive':!isFocusTab('step1')}"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab('step2');$event.stopPropagation();" ng-class="{'is-active':isFocusTab('step2'),'is-inactive':!isFocusTab('step2')}">草案
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab('step2'),'ProgressBar-triangleRight-inactive':!isFocusTab('step2')}"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab" ng-click="setFocusTab('step3');$event.stopPropagation();" ng-class="{'is-active':isFocusTab('step3'),'is-inactive':!isFocusTab('step3')}">定案
                        <div ng-class="{'ProgressBar-triangleRight':isFocusTab('step3'),'ProgressBar-triangleRight-inactive':!isFocusTab('step3')}"></div>
                    </div>
                </div>
                <!-- <div class="ProgressBar-stepInfo">已經過了 {{proposalMeta['crowdfunding'].percentage }}%，還有 {{proposalMeta['crowdfunding'].diff_day}} 天 {{proposalMeta['crowdfunding'].diff_hour}} 小時</div> -->
                <div class="ProgressBar-barBackground">
                  <div class="ProgressBar-startDate">{{ proposalMeta['crowdfunding'].step1_start_date | date:'M/d' }}</div>
                  <div class="ProgressBar-endDate">{{ proposalMeta['crowdfunding'].step1_end_date | date:'M/d' }}</div>
                  <div class="ProgressBar-barProgress" style="width:{{proposalMeta['crowdfunding'].percentage}}%;"></div>
                </div>
                
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['crowdfunding'].diff_day}} 天</div>剩餘</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['crowdfunding'].TopicCount}}</div>主題</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['crowdfunding'].PostCount}}</div>意見</div>
            </div>
        </div>
        <div class="Proposal md-whiteframe-z1" ng-click="go('closelyheld')">
            <div class="Proposal-mainText">
              <div class="Proposal-title">主題：閉鎖型公司</div>
              <div class="Proposal-content">
                <span ng-bind-html="toTrusted(proposal['closelyheld'])"></span>
              </div>
            </div>
            <div class="ProgressBar">
                <div class="ProgressBar-stepTitle" ng-click="$event.stopPropagation();">
                    <div class="ProgressBar-stepTitle-tab is-active">討論
                        <div class="ProgressBar-triangleRight"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab is-inactive">草案
                        <div class="ProgressBar-triangleRight-inactive"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab is-inactive">定案
                        <div class="ProgressBar-triangleRight-inactive"></div>
                    </div>
                </div>
                <div class="ProgressBar-barBackground">
                  <div class="ProgressBar-startDate">{{ proposalMeta['closelyheld'].step1_start_date | date:'M/d' }}</div>
                  <div class="ProgressBar-endDate">{{ proposalMeta['closelyheld'].step1_end_date | date:'M/d' }}</div>
                  <div class="ProgressBar-barProgress" style="width:{{proposalMeta['closelyheld'].percentage}}%;"></div>
                </div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['closelyheld'].diff_day}} 天</div>剩餘</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['closelyheld'].TopicCount}}</div>主題</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['closelyheld'].PostCount}}</div>意見</div>
            </div>
        </div>
        <div class="Proposal md-whiteframe-z1" ng-click="go('etax')">
            <div class="Proposal-mainText">
              <div class="Proposal-title">主題：網路交易課稅</div>
              <div class="Proposal-content">
                <span ng-bind-html="toTrusted(proposal['etax'])"></span>
              </div>
            </div>
            <div class="ProgressBar">
                <div class="ProgressBar-stepTitle" ng-click="$event.stopPropagation();">
                    <div class="ProgressBar-stepTitle-tab is-active">討論
                        <div class="ProgressBar-triangleRight"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab is-inactive">草案
                        <div class="ProgressBar-triangleRight-inactive"></div>
                    </div>
                    <div class="ProgressBar-stepTitle-tab is-inactive">定案
                        <div class="ProgressBar-triangleRight-inactive"></div>
                    </div>
                </div>
                <div class="ProgressBar-barBackground">
                  <div class="ProgressBar-startDate">{{ proposalMeta['etax'].step1_start_date | date:'M/d' }}</div>
                  <div class="ProgressBar-endDate">{{ proposalMeta['etax'].step1_end_date | date:'M/d' }}</div>
                  <div class="ProgressBar-barProgress" style="width:{{proposalMeta['etax'].percentage}}%;"></div>
                </div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['etax'].diff_day}} 天</div>剩餘</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['etax'].TopicCount}}</div>主題</div>
                <div class="ProgressBar-stat"><div class="ProgressBar-statHighlight">{{proposalMeta['etax'].PostCount}}</div>意見</div>
            </div>
        </div>
        
        <div class="l_center">
            <a class="about_item_button" ng-click="go('tutorial')">使用手冊</a>
        </div>
    </div><!-- end of wrapper -->
</div><!-- end of content -->
